html{
/* font-family:'Tw Cen MT'; */
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
padding: 0;
opacity: 1;
}
body{
    margin: 0;
    padding: 0;
    justify-items: center;
}

#Trailer{
width: 100vw;
height: 100vh;
background: black;
object-fit: cover;
/* margin-top: 4vh;
margin-bottom: 2vh; */
z-index: -1;
opacity: 1;
border-bottom: 2px solid #E0C228;
}
#overlay{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    position: absolute;
    align-self: center;
    bottom: 10vh;
    color: white;
    font-size: 7vh;
    letter-spacing: .12vw;
    /* border-bottom: 2px solid #E0C228; */
}
#overlayText{
    display: flex;
    margin-bottom: 25vh;
}
#scrollDown{
    font-size: 2.5vh;
    align-self: center;
    text-decoration: none;
    color: #E0C228;
    margin: 0;
    position: absolute;
    bottom: 0vh;
    border: 1px solid  #E0C228;
    padding: 8px;
    border-radius: 12px;
}
#scrollDown:hover{
    color: white;
    background: #E0C228;
    /* text-shadow: 1px 1px black; */
}
#scrollUp{
    font-size: 2.5vh;
    align-self: center;
    text-decoration: none;
    color: #E0C228;
    margin: 0;
    margin-top: 4vh;
    border: 1px solid  #E0C228;
    padding: 8px;
    border-radius: 12px;
}
#scrollUp:hover{
    color: white;
    background: #E0C228;
    /* text-shadow: 1px 1px black; */
}
#overlay h1{
    padding: 0;
    margin-left: 1vw;
    letter-spacing: .2vw;
}
#overlayTutte{
    animation: fadeIn 8s;
}
#overlaySenape{
    color: #E0C228;
    margin-right: 1vw;
    animation: fadeIn 10s;
    
    

}
@keyframes fadeInOut {
    0% {opacity:0;}
    50%{opacity:1;}
    100%{opacity: 0;}
    
}
@keyframes fadeIn {
    0% {opacity:0;}
    100%{opacity:1;}
  
    
}
#TrailerBox{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background: rgba(0, 0, 0, 0.65);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 1;
    /* border-bottom: 2px solid #E0C228; */
    
}
/* #bodyDescription{
    height:90vh;
} */

section{
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: column;
    /* max-height: 100vh; */
    text-align:left;
    text-justify:distribute;
    opacity: 1;
    justify-content: center;
    /* background: black; */
    border-bottom: 2px solid #E0C228;
    
    /* padding: 1vh; */
}
h4{
    font-size: 1.7vw;
}
h3{
    font-size: 1.5vw;
}
/* p{
   font-weight:100;
   font-size: 1.3vw;
} */

#OrganizzaProiezione{
    text-align: center;
}


/* _____________________MISSION________________ */
#Mission{
display:flex;
flex-direction: column;
max-width: 90vw;
font-size: 2vw;
text-align: justify;
padding: 2vh;
/* border: 1px solid rgb(15, 12, 215); */
}
#MissionBox{
    display: flex;
    margin-bottom: 1vh;
}

#Mission a{
    margin-left:82vw ;
}


#MissionDescription{
width: 45vw;
/* border: 1px solid rgb(223, 16, 16); */
padding: 1vw;
margin-left: 2vw;
}

#Mission h4{
    font-size: 2.5vw;
}
#MissionPic{
    border: 1px solid black;
    width: 45vw;
    min-height: 40vh;
}

/* _____________________IL COLLETTIVO________________ */

#DescrizioneCollettivo{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    font-size: 2vw;
    font-weight:100;
    /* align-items: center; */
    justify-content: center;
    margin-right: 2vw;
    width: 40vw;
    text-align:justify ;
}
#DescrizioneCollettivo img{
   margin-left: 10vw;
}
#DescrizioneCollettivo h3{
    color:#E0C228 ;
    font-size: 2.5vw;
}
#IlCollettivo{
    display: flex;
    padding: 2vh;
    /* background: black; */
    opacity: 1;
}

#IlCollettivo a{
    margin-left: 4vw;
}
#IlCollettivoBox{
    display: flex;
    /* border: 1px solid #E0C228; */
    border-radius: .1vh;
    background: white;
    padding: 1vh;
    justify-content: space-evenly;

}

/* ________________IL FILM_________________ */


#IlFilm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-bottom: 2px solid #E0C228;
    color: rgb(255, 255, 255);


}
/* #schedaFilm{
    display: flex;
    width: 100vw;
    justify-content:space-evenly;
} */
.Locandina{
    height: 75vh;
    /* box-shadow: -.5px -.5px 2px 2px #E0C228 ; */
    opacity: 1;
    /* width: 45vw; */
    align-self: center;
    margin: 1vh;

}
#LocandinaFilm{
   opacity: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 90vw;
    height: 67vh;
    padding: 1vh;
    margin-top: 4vh;

   /* color: rgb(0, 0, 0); */
   color: white;
}
#IlFilm a{
    margin-left: 80vw;
}
#FilmInfo{
    display: flex;
    flex-direction: column;
    height: 55vw;
    margin-left: 5vw;
    font-size: 2vh;
    justify-content: center;
    align-content:center;
    text-align: left;
  
    /* background:  #99BFB3 ; */
}
.FilmInfoLi{
    margin-top: 1vh;
    margin-bottom: 1vh;
    color:#E0C228 ;
}
.FilmInfoLi span{
    color: white;
}
.FilmInfoList li{
    color:white;
    /* color:rgb(0, 0, 0); */
}
#Sinossi{
    /* background-color: rgb(255, 255, 255); */
    padding: 2vh;
    border-radius: .2vh;
    font-weight: 100;
    /* color:#000000; */
    color:#ffffff;
    /* border: 2px solid #E0C228;  */
    font-size: 2.5vh;
    max-width: 45vw;
    /* text-justify: distribute; */
    word-wrap: break-word;
    text-align: justify;
}
#Sinossi span{
    color: #E0C228;
}

ul{
list-style: none;
} 

.linkToPages{
    border: 1px solid  #E0C228;
    padding: 1vh;
    /* margin-left: 8vw; */
    width: fit-content;
    /* margin-top: 2vh; */
    text-decoration: none;
    color: #E0C228;
    border-radius: 1vh;
    font-size: 1.8vh;
}
.linkToPages:hover{
    color: white;
    background: #E0C228;
}

footer{
    height: 10vh;
    background: black;
    color: white;
}

@font-face {
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight:100;
    src: local('Tw Cen MT'),  url('./styles/TwCenMT.woff') format('woff');
    }


    /* _______________Seconda Pagina: Il Film______________ */

    #IlFilmTrailer{
        width: 50vw;
    }
    #trailerFilmPage{
        text-align: center;
        margin-top: 3vh;
        font-size: 3vh;
    }
    #SinossiLunga{
        justify-self: center;
        display: flex;
        font-weight:300;
        font-size: larger;
        width: 85vw;
        padding: 1vh;
        margin-top: 2vh;
        text-align: justify;
        border: 1px solid black;
    }
    #SinossiLunga span{
        font-size: 2vh;
        font-weight: 600;
    }

