

html{
/* font-family:'Tw Cen MT'; */
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
padding: 0;
z-index: -1;
background: rgb(255, 255, 255);
width: 100vw;
--color: rgb(148, 131, 182);
}
body{
   margin: 0;
   padding: 0;
    justify-items: center;
    width: 100vw;
    overflow-x: hidden;
   
    /* background-color: rgb(238, 130, 238); */
}

/* _________________Navigation Bar_____________ */


nav{
    width: 100vw;
    height: 9vh;
    padding: 0;
    margin: 0;
    display: flex;
    position: fixed;
    left: 0;
    justify-content: center;
    background: linear-gradient(0deg,rgb(110, 57, 216, 0.289) 0%,rgb(0, 0, 0) 95%, rgb(0, 0, 0)100%);
    z-index: 1;
    opacity: 1;
    border-bottom: .5px solid var(--color);
    border-top: 2px solid var(--color) ;
}
nav ul {
    display: flex;
    width: 100vw;
    justify-content:space-evenly;
    opacity: 1;
    font-size: 3vh;
    
}
.navigationLinks{
    /* color:var(--color) ; */
    color:white ;
    text-shadow: 1px 1px var(--color) ;
    text-decoration: none;
  
    border: none;
    position: relative;
    padding-bottom: 8px;
}


.navigationLinks:before,
.navigationLinks:after{
    border: 0 solid transparent;
    transition: all 0.3s;
    content: '';
    height: 0;
    position: absolute;
    width: 0px;
    margin-top: -5px;
    margin-bottom: -5px;
}
.navigationLinks:before {
    border-top: 1.5px solid var(--color);
    right: 0;
    top: -4px;
  }
  
  .navigationLinks:after {
    border-bottom: 1.5px solid var(--color);
    bottom: -4px;
    left: 0;
  }
  
  .navigationLinks:hover:before,
  .navigationLinks:hover:after {
    width: 100%;
  }



/* __________________Il Trailer Intro______Landing Page______ */
#Trailer{
width: 100vw;
height: 100vh;
background: black;
object-fit: cover;
margin-top: 0vh;
padding: 0;
/* margin-bottom: 2vh; */
z-index: -1;
opacity: 1;
/* border-bottom: 2px solid var(--color); */

}
#overlay{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    position: absolute;
    align-content: center;
    bottom: 10vh;
    color: white;
    font-size: 7vh;
    letter-spacing: .12vw;
    /* border-bottom: 2px solid var(--color) ; */
}
#overlayText{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 0;
    margin-bottom: 25vh;
    margin-left: 1vw;
    /* font-family: 'Poppins', sans-serif; */
    letter-spacing: .2vw;
    font-family:'Tw Cen MT';
    position: absolute;
    bottom: -35vh;
}
#overlayTutte{
    animation: fadeIn 8s;
}
#overlaySenape{
    color: var(--color);
    margin-left: 1.5vw;
    /* margin-top: 0vh; */
    animation: fadeIn 10s;
    
    

}
#scrollDown{
    font-size: 2.5vh;
    align-self: center;
    text-decoration: none;
    color: var(--color);
    margin: 0;
    position: absolute;
    bottom: 0vh;
    border: 1px solid  var(--color);
    padding: 8px;
    border-radius: 12px;
}
#scrollDown:hover{
    color: white;
    background: var(--color);
    /* text-shadow: 1px 1px black; */
}
/* @property --r {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
   */

  
  #scrollUp{
   
      font-size: 2.5vh;
      align-self: center;
      text-decoration: none;
      color: var(--color);
      margin: 0;
      margin-top: 4vh;
      border: 1px solid  var(--color);
      padding: 8px;
      border-radius: 12px;
      /* transform: none; */
    }

    #scrollUp:hover{
        color: white;
        background: var(--color);
        /* transform: rotate(); */
        animation: spin.8s;
        cursor: pointer;
        
        /* text-shadow: 1px 1px black; */
    }
    @keyframes spin {
      50% {
        transform: scale3d(2, 1.5,1);
        /* filter :sepia(.25)
        brightness(1.3)  
        invert(0.17) saturate(2.6) ; */
    }
}

    #scrollUp:active{
        filter: blur(.2vh) grayscale(10%);
        /* filter: brightness(1.3) invert(0.17) saturate(2.6) sepia(0.25); */
    }

    /* @keyframes noise{
       100%{filter: brightness(1.3) invert(0.17) saturate(2.6) sepia(0.25);}
} */

@keyframes fadeInOut {
    0% {opacity:0;}
    50%{opacity:1;}
    100%{opacity: 0;}
    
}
@keyframes fadeIn {
    0% {opacity:0;}
    100%{opacity:1;}
  
    
}
#TrailerBox{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background: rgba(0, 0, 0, 0.481);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 1;
    /* padding-bottom:70px; */
    /* border-bottom:  */
    /* border-bottom: 10px solid var(--color);; */
    
}
/* #bodyDescription{
    height:90vh;
} */

section{
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 8vh;
    padding-top: 9vh;
    display: flex;
    flex-direction: column;
    height: 90vh;
    text-align:left;
    text-justify:distribute;
    /* opacity: 1; */
    justify-content: center;
    /* background: black; */
    /* border-bottom: 2px solid var(--color); */
    /* transform: skewY(-8deg); */
    /* padding: 1vh; */
}

h4{
    font-size: 1.7vw;
}
h3{
    font-size: 1.5vw;
}
/* p{
   font-weight:100;
   font-size: 1.3vw;
} */

#OrganizzaProiezione{
    text-align: center;
}


/* _____________________MISSION________________ */
#Mission{
display:flex;
flex-direction: column;
max-width: 90vw;
font-size: 2vw;
text-align: justify;
padding: 2vh;
/* border: 1px solid rgb(15, 12, 215); */
}
#MissionBox{
    display: flex;
    margin-bottom: 1vh;
    /* transform: skewY(15deg); */
}

#Mission a{
    margin-left:82vw ;
}


#MissionDescription{
width: 45vw;
/* border: 1px solid rgb(223, 16, 16); */
padding: 1vw;
margin-left: 2vw;
}

#Mission h4{
    font-size: 2.5vw;
}
#MissionPic{
    border: 1px solid black;
    width: 45vw;
    min-height: 40vh;
}

/* _____________________IL COLLETTIVO________________ */

.descrBox{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    font-size: 2vw;
    font-weight:100;
    justify-content:space-around;
    width: 45%;
    height: auto;
    text-align:justify ;
    border: 2px solid black;
    
}

/* #IlCollettivoBox img{
   
    border:.3px solid rgba(0, 0, 0, 0.269) ;
    box-shadow: .1px .1px 52px 1px #00000085 ;
    opacity: 1;
} */
.descrBox h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 0%;
}
.descrBox h3{
    font-family: Oswald;
    height: 80px;
    font-weight: normal;
    font-style: normal;
    font-size: 80px;
    margin: 0%;
}
.descrBox p{
    font-size: 18px;
}

.boxImage{
    width: 45%;
    height: 50vh;
    background-image: url("./imgs/Tutte a casa_naandeyeah_Blue.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    box-shadow: .1px .1px 52px 4px #0606064d ;
    opacity: 1;
    border:.3px solid rgba(0, 0, 0, 0.269);
    opacity: 1;
    align-self: center;
    animation: picture 3s;
}


#IlCollettivo{
    display: flex;
   
    /* background: black; */
    opacity: 1;
    /* transform: skewY(-15deg); */
}
/* #IlCollettivo:before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    transform: skewY(-11deg);
} */

#IlCollettivo a{
    margin-left: 4vw;
}
.boxes{
    display: flex;
    /* transform: skewY(15deg); */
    /* border-radius: .1vh;
    background: white; */
    padding: 1vh;
    justify-content: space-evenly;
    /* position: relative; */
    

}

/* ________________IL FILM_________________ */


#IlFilm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-bottom:2px solid var(--color);
    color: rgb(255, 255, 255);
}
.Locandina{
    height: 70vh;
    border:.1px solid rgba(255, 255, 255, 0.269) ;
    box-shadow: .1px .1px 52px 1px #ffffff4d ;
    opacity: 1;
    /* width: 45vw; */
    align-self: center;
    margin: 1vh;
    animation: picture 3s;
}
/* #schedaFilm{
    display: flex;
    width: 100vw;
    justify-content:space-evenly;
} */

/* @keyframes picture {
    50%{
        filter: ;
    }
    
} */
#LocandinaFilm{
   opacity: 1;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 90vw;
    height: 67vh;
    padding: 1vh;
    margin-top: 4vh;

   /* color: rgb(0, 0, 0); */
   color: white;
}
#IlFilm a{
    margin-left: 80vw;
}
#FilmInfo{
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin-left: -25vw;
    font-size: 20px;
    justify-content: center;
    align-content:center;
    text-align: left;
  
}
.FilmInfoLi{
    margin-top: 1vh;
    margin-bottom: 1vh;
    color:var(--color) ;
}
.FilmInfoLi span{
    color: white;
}
.FilmInfoList li{
    color:white;
    /* color:rgb(0, 0, 0); */
}
#Sinossi{
    /* background-color: rgb(255, 255, 255); */
    /* padding: 2vh;
    border-radius: .2vh; */
    /* font-weight: 100; */
    /* color:#000000; */
    color:#ffffff;
    /* border: 2px solid var(--color);  */
   
    width: 65vw;
    /* text-justify: distribute; */
    justify-content: space-between;
    display: flex;
   
}
#Sinossi h3{
    width: 65vw;
    /* word-wrap: break-word; */
    text-align: justify;
    font-size: 20px;
   
}

#Sinossi span{
    color: var(--color);
}

ul{
list-style: none;
} 

.linkToPages{
    /* border: 1px solid  var(--color); */
    padding: 1vh;
    /* margin-left: 8vw; */
    width: fit-content;
    /* margin-top: 2vh; */
    text-decoration: none;
    background-color:var(--color) ;
    /* border-radius: 1vh; */
    font-size: 20px;
    position: relative;
    /* left:60%;
    margin-top: 20%; */
    color: black;
}
.linkToPages::before,
.linkToPages::after{
    border: 0 solid transparent;
    transition: all 0.3s;
    content: '';
    height: 0;
    position: absolute;
    width: 15%;
    margin-top: -2px;
    margin-bottom: -2px;
}
.linkToPages::before {
    border-top: 1.5px solid var(--color);
    right: 0;
    top: -4px;
  }
  
  .linkToPages::after {
    border-bottom: 1.5px solid var(--color);
    bottom: -4px;
    left: 0;
  }
  
  .linkToPages:hover::before,
  .linkToPages:hover::after {
    width: 100%;
  }

footer{
    height: 10vh;
    background: black;
    color: white;
}

@font-face {
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight:100;
    src: local('Tw Cen MT'),  url('./styles/TwCenMT.woff') format('woff');
    }


    /* _______________Seconda Pagina: Il Film______________ */
    #IlFilmPage{
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: translate .5s;
       

    }
    @keyframes translate {
        0%{
            transform: translateX(100vw);
        }
        100%{
            transform: translateX(0vw);
        }
        
    }
    #IlFilmTrailer{
        animation: translate .7s;
        width: 50vw;
        
    }
    #trailerFilmPage{
        text-align: center;
        margin-top: 3vh;
        font-size: 3vh;
        margin-top: 10vh ;
    }
    #SinossiLunga{
        justify-self: center;
        display: flex;
        font-weight:300;
        font-size: larger;
        width: 85vw;
        padding: 1vh;
        margin-top: 2vh;
        text-align: justify;
        border: 1px solid black;
    }
    #SinossiLunga span{
        font-size: 2vh;
        font-weight: 600;
    }



    